@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow: #f0a205;
  --text: #ffec99;
}

* {
  cursor: url(/media/cursor.cur), auto !important;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

@keyframes move-background {
  from {
    transform: translate3d(0px, 0px, 0px);
  }
  to {
    transform: translate3d(1000px, 0px, 0px);
  }
}
